<%= form_for :session, url: session_path do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, type: 'email', class: 'form-control', placeholder: 'alex.benoit@bcgdv.com' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'password'%>
  </div>

  <div class="submit-field">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

    <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>

<% end %>